body {
    background-image: url(../images/IMG_20190627_0007.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    
   
}


#content {
    padding: 40px;
    border: 3px solid white;
    margin: 15% 25% 25% 25%;



    
}
h1 {
    font-family: 'Jacques Francois Shadow', cursive;
}
